body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #000;
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
}

#editor-controls {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--user-color, #a8c8ff3f);
  color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.color-picker {
  width: 40px;
  height: 16px;
  cursor: pointer;
  border: 2px solid #16161d;
}

#magazine-background-color-picker {
  background: var(--magazine-background-color, #a8ffc8);
}

#argama-color-picker {
  background: var(--argama-text-color, #a8c8ff);
}
