nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #eeeeee; 
    color: #333;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
        text-decoration: underline;
    }
}

.brand {
    font-weight: bold;
}