---
import Layout from "../layouts/Layout.astro";
import "../styles/_index.scss";
---

<Layout title="atypicalcomplextimesignatures">
  <section class="main">
    <h1><b>Svenja</b> /ˈsvɛn.ja/</h1>
  </section>

  <section class="content"></section>
</Layout>
