---
// src/pages/magazine.astro
import "../styles/_magazine.scss";
---
<html>
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <title>Magazine</title>
  </head>
  <body>
    <h1>You found it!</h1>
  </body>
</html>