---
import "../styles/_navbar.scss";
---

<nav>
  <a href="/" class="brand">atypicalcomplextimesignatures</a>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/projects">projects</a></li>
  </ul>
</nav>
